<%= form_for(employer) do |f| %>
  <% if employer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employer.errors.count, "error") %> prohibited this employer from being saved:</h2>

      <ul>
      <% employer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col col-1 field">
      <%= f.label :name %>
    </div>
    <div class="col">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="col col-1 field">
      <%= f.label :industry %>
    </div>
    <div class="col">
      <%= f.text_field :industry %>
    </div>
  </div>

  <div class="row">
    <div class="col col-1 field">
      <%= f.label :certified %>
    </div>
    <div class="col">
      <%= f.check_box :certified %>
    </div>
  </div>

  <div class="row">
    <div class="col col-1 field">
      <%= f.label :notes %>
    </div>
    <div class="col">
      <%= f.text_area :notes %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>

<% end %>
