<p id="notice"><%= notice %></p>

<h1>Employers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Industry</th>
      <th>Certified</th>
      <th>Notes</th>
    </tr>
  </thead>

  <tbody>
    <% @employers.each do |employer| %>
      <tr>
        <td><%= link_to employer.name, employer %></td>
        <td><%= employer.industry %></td>
        <td><%= employer.certified %></td>
        <td><%= employer.notes %></td>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employer', new_employer_path, class: 'btn btn-primary' %>
