<p id="notice"><%= notice %></p>

<p>
  <h2><strong><%= @employer.name %></strong></h2>
</p>

<p>
  <strong>Industry:</strong>
  <%= @employer.industry %>
</p>

<p>
  <strong>Certified:</strong>
  <%= @employer.certified %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @employer.notes %>
</p>

<%= link_to 'Edit', edit_employer_path(@employer), class: 'btn-secondary btn-sm' %>
<hr>

<p>
  <h2><strong>Reqs</strong></h2>
  <table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date Created</th>
    </tr>
  </thead>

  <tbody>
    <% @employer.reqs.each do |req|%>
      <tr>
        <td><%= link_to req.title, req_path(req) %></td>
        <td><%= req.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Create req', new_req_path(employer_id: @employer), class: 'btn btn-primary' %>
