<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @req.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @req.description %>
</p>

<%= link_to 'Edit', edit_req_path(@req), class: 'btn-primary btn-sm' %>
<%= link_to 'Back', employer_path(@req.employer), class: 'btn-primary btn-sm' %>
