<%= form_for(review) do |f| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col col-1 field">
    <%= f.label :reviewer %>
    </div>
    <div class="col">
      <%= f.text_field :reviewer %>
    </div>
  </div>

  <div class="row">
    <div class="col col-1 field">
      <%= f.label :text %>
    </div>
    <div class="col">
      <%= f.text_field :text %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>

  <%= f.hidden_field :reviewee, value: params[:reviewee] %>
  <%= f.hidden_field :reviewable_type, value: params[:reviewable_type] %>
<% end %>
