<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

<table class="table">
  <thead>
    <tr>
      <th>Reviewer</th>
      <th>Reviewee</th>
      <th>Text</th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.reviewer %></td>
        <td><%= review.reviewee %></td>
        <td><%= review.text %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_review_path %>
