<p id="notice"><%= notice %></p>

<p>
  <%= @review.text %>
</p>

<hr class="section-divider">

<p><small>
  Review of
  <% if @review.reviewable_type == 'Employer' %>
    <%= Employer.find(@review.reviewee).name %>
  <% elsif @review.reviewable_type == 'Recruiter' %>
    <%= Recruiter.find(@review.reviewee).name %>
  <% end %>
  by <%= @review.reviewer %>
</small></p>
