<p id="notice"><%= notice %></p>

<h1>Recruiters</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Certified</th>
      <th>Notes</th>
    </tr>
  </thead>

  <tbody>
    <% @recruiters.each do |recruiter| %>
      <tr>
        <td><%= link_to recruiter.name, recruiter %></td>
        <td><%= recruiter.certified %></td>
        <td><%= recruiter.notes %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recruiter', new_recruiter_path, class: 'btn btn-primary' %>

